{extend name="/layout/base"}
{block name="body"}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>商品管理</legend>
</fieldset>

<form class="layui-form" action="{:url('product')}" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基础设置</li>
            <li>商品相册</li>
            <!--<li>商品详情</li>-->
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品名称*</label>
                        <div class="layui-input-inline">
                            <input type="text" name="product_name" lay-verify="product_name" autocomplete="off" class="layui-input">
                        </div>
                    </div></div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品编码*</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Sn" lay-verify="Sn" autocomplete="off" class="layui-input">
                        </div>
                    </div></div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品数量*</label>
                        <div class="layui-input-inline">
                            <input type="text" name="amount" lay-verify="amount" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品原价格*</label>
                        <div class="layui-input-inline">
                            <input type="text" name="common_price" lay-verify="common_price" autocomplete="off" class="layui-input">
                        </div>
                    </div></div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品现价格*</label>
                        <div class="layui-input-inline">
                            <input type="text" name="price" lay-verify="price" autocomplete="off" class="layui-input">
                        </div>
                    </div></div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分类选择*</label>
                    <div class="layui-input-inline">
                        <select name="cat_id" lay-filter="aihao">
                            <option value="0">顶级分类</option>
                            {volist name="result" id="result"}
                            <option value={$result.id}>{$result.cate_name}</option>
                            {/volist}
                        </select>
                    </div></div>
                <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">上架时间*</label>
                    <div class="layui-input-inline">
                        <input type="text" name="addtime" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                </div>
                <!--<div class="layui-form-item">
                    <label class="layui-form-label">商品logo*</label>
                    <div class="layui-input-block">
                        <input type="file" name="logo" id="test20">
                    </div>
                </div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">是否上架</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_on_sale" value="1" title="上架" checked="">
                        <input type="radio" name="is_on_sale" value="0" title="不上架">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否热销</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_hot" value="1" title="热销" checked="">
                        <input type="radio" name="is_hot" value="0" title="不热销">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <input type="hidden" name="url" value="">
                <label class="layui-form-label form-require">商品图片* </label>
                <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">商品图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
            </div>
            <!--<div class="layui-tab-item">-->
                <!--<div class="layer-form-group">-->
                    <!--<label class="layui-form-label form-require">商品详情： </label>-->
                    <!--<div class="layui-col-sm7  layer-midd-left">-->
										<!--&lt;!&ndash;<textarea id="container" name="goods[goods_content]" type="text/plain">&ndash;&gt;-->
										<!--&lt;!&ndash;</textarea>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>


</form>
{/block}
{block name="script"}
<script>
    var upurl = "{:url('product/upload')}";
    layui.use(['form', 'layedit', 'laydate','upload'], function() {
        var $ = layui.jquery
            ,upload = layui.upload;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //多图片上传
        upload.render({
            elem: '#test1'
            ,url: upurl
            ,multiple: true
            ,auto:true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img style="width: 100px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                //上传完毕
                layer.close(layer.msg('上传成功！'));
                $('.upload-img-box').append('<dd class="upload-icon-img" ><div class="upload-pre-item"><i οnclick="deleteImg($(this))"   class="layui-icon"></i><img src="' + res.data + '" class="img" ><input type="hidden" name="case_images[]" value="' + res.data + '" /></div></dd>');
            }
        });


        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
    });

    //监听提交
    // form.on('submit(demo1)', function(data){
    //     layer.alert(JSON.stringify(data.field), {
    //         title: '最终的提交信息'
    //     })
    //     return false;
    // });
</script>
{/block}