{extend name="/layout/base"}
{block name="body"}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加角色</legend>
</fieldset>

<form class="layui-form" action="{:url('createAuthGroup')}" method="post">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名称*</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div></div>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label">网站角色*</label>
                <div class="layui-input-block">
                    {volist name="data" id="vo"}
                    <input type="checkbox" value="{$vo.id}" name="rules" title="{$vo.title}">
                    {/volist}
                </div>
            </div>
        </div></div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.use('form', function(){
        var url = "{:url('user/createAuthGroup')}";
        var form = layui.form;
        var success = function (response) {
            if (response.status=1){
                alert('添加成功');
                window.location.href="{:url('user/authGroup')}";
            }else {
                alert('添加失败');
            }
        };
        $ = layui.$;
        form.on('submit(demo1)', function(data){
            //获取checkbox[name='like']的值
            var arr = new Array();
            $("input:checkbox[name='rules']:checked").each(function(i){
                arr[i] = $(this).val();
            });
            data.field.rules = arr.join(",");//将数组合并成字符串
            $.post(url, {data:data.field});
            return false;
        });
    });
</script>
{/block}